*{
    font-family: 'Gowon Dodum',sans-serif;
}

.nav-title{
    font-size:55px;
    font-weight: bold;
}

.title-mystyle{
    font-size: 50px;
    margin-bottom: 50px;
}

.text-mystyle{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 15px;
    font-size: 25px;
}

.card-mystyle{
    display: flex;
    justify-content: space-around;
}

.img-container{
    width: 300px;
    border-radius: 4px;
    margin-top: 50px;
    border:  2px #c8c4c4 solid;
    
}

.img-container img{
    width: 100%;
    height: 375px;
    
}

.game-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}